<<<<<<< HEAD
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Sushi App 2025</span>
    </div>
</footer>
||||||| empty tree
=======
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Sushi App 2025</span>
    </div>
</footer>
>>>>>>> 970cf6f8706313214d0ca9bc24bd26c288d5e916
