<%-include('./partials/boilerplate')%>

<!-- <div class="container mt-auto">
<div class="row justify-content-center container-fluid">
        <div class="col-3">
           <a href="product/appetizers">Appetizers</a> 
        </div>
        <div class="col-3">
        <a href="product/sushi">Sushi</a>
        </div>
        <div class="col-3">
        <a href="product/dessert">Dessert</a>
        </div>    
        <div class="col-3">
        <a href="product/drinks">Drinks</a>
        </div>
</div>
</div> -->

<div class="container justify-content-center mt-auto">
    <div class="row m-3">
        <div class="col-md-3 col-sm-6 mx-auto">
            <div class="card" style="width: 18rem; border:solid;">
                <a href="product/appetizers">Appetizers<img src="pictures/appetizer/gyoza.jpg"  alt="" class="card-img-top"></a>
            </div>

        </div>
        <div class="col-md-3 col-sm-6 mx-auto">
            <div class="card" style="width: 18rem; border:solid;">
                <a href="product/sushi" >Sushi<img src="pictures/sushi/tunaNigiri.jpg" alt="" class="card-img-top"></a> 
            </div>

        </div>
        <div class="col-md-3 col-sm-6 mx-auto">
            <div class="card" style="width: 18rem; border:solid;">
                <a href="product/dessert">Dessert<img src="pictures/dessert/strawberryParfait.jpeg" alt="" class="card-img-top"></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 mx-auto">
            <div class="card" style="width: 18rem; border: solid;">
                <a href="product/dessert">Drinks<img src="pictures/drink/greentea.jpg" alt="" class="card-img-top"></a>
            </div>
        </div>
    </div>
</div>

<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Sushi App 2025</span>
    </div>
</footer>
