<<<<<<< HEAD
<%-include('../partials/boilerplate')%>

<div class="container mt-auto">
<h1>LOGIN</h1>
<form action="/login" class="validated-form" method="POST" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="username" id="username" name="username" required>
                    <div class="valid-feedback">
                    Looks good!
                    </div>
                </div>
                <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class="valid-feedback">
                Looks good!
                </div>
            </div>
            <button class="btn btn-success">Login</button>
</form>
</div>

<%- include('../partials/footer')%>
||||||| empty tree
=======
<%-include('../partials/boilerplate')%>

<div class="container mt-auto">
<h1>LOGIN</h1>
<form action="/login" class="validated-form" method="POST" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="username" id="username" name="username" required>
                    <div class="valid-feedback">
                    Looks good!
                    </div>
                </div>
                <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class="valid-feedback">
                Looks good!
                </div>
            </div>
            <button class="btn btn-success">Login</button>
</form>
</div>

<%- include('../partials/footer')%>
>>>>>>> 970cf6f8706313214d0ca9bc24bd26c288d5e916
